@page "/"
@inherits IndexBase

<PageTitle>Calendario</PageTitle>

@{
    // TODO : 29-Dic-2021 6.04pm : Definir los css que se tratarán inicialmente
}
<h1>Calendario</h1>
<div class="container-fluid h3" >
Bienvenido a la App de Calendario Personal. Por ::  
<span class="h2" style="cursor:pointer" @onclick="@(() => Cambio(MODE.Día))">Dia</span> - 
<span class="h2" style="cursor:pointer" @onclick="@(() => Cambio(MODE.Mes))">Mes</span> - 
<span class="h2" style="cursor:pointer" @onclick="@(() => Cambio(MODE.Año))">Año</span>
</div>
@if (mode == MODE.Día)
{
    <DiaComponent />
}
else if (mode == MODE.Mes)
{
    <MesComponent />
}
else if (mode == MODE.Año)
{
    <AnoComponent />
}

